{% extends 'base.html' %}

{% block title %}{% endblock %}
{% block style %}
#image{
background-image: url('https://media.istockphoto.com/id/482858629/photo/doctors-hospital-corridor-nurse-pushing-gurney-stretcher-bed.jpg?b=1&s=612x612&w=0&k=20&c=QA5AU7uv9cnJUXBdMstov5CcpErsIQEke05Hn98SEvs=');
background-size: cover;
background-repeat: no-repeat;
height:500px;
width:100%;
}
{% endblock %}
{% block body %}
<div id="image">
    <h1></h1>
</div>
<div style="background-color:cyan">
    <p style="text-color:black">
        <h1  style="text-align:center">ABOUT US</h1>
        Health care, or healthcare, is the improvement of health via the prevention, diagnosis, treatment,
        amelioration or cure of disease, illness, injury, and other physical and mental impairments in people.
        Health care is delivered by health professionals and allied health fields. Medicine, dentistry, pharmacy,
        midwifery, nursing, optometry, audiology, psychology, occupational therapy, physical therapy, athletic
        training, and other health professions all constitute health care. It includes work done in providing
        primary care, secondary care, and tertiary care, as well as in public
        health.<br><br>

        Access to healthcare may vary across countries, communities, and individuals, influenced by social and
        economic conditions as well as health policies. Providing health care services means "the timely use of
        personal health services to achieve the best possible health outcomes".[3] Factors to consider in terms
        of healthcare access include financial limitations (such as insurance coverage), geographical and
        logistical barriers (such as additional transportation costs and the ability to take paid time off work
        to use such services), sociocultural expectations, and personal limitations (lack of ability to
        communicate with health care providers, poor health literacy, low income).[4] Limitations to health care
        services affects negatively the use of medical services, the efficacy of treatments, and overall outcome
        (well-being, mortality rates).


    </p>
</div>
{% endblock %}