{% extends 'base.html' %}

{% block title %}{% endblock %}
{% block style %}
#image{
background-image: url('https://english.mathrubhumi.com/image/contentid/policy:1.7354439:1647575970/punalur%20taluk%20hospital.jpg?$p=63ed166&f=4x3&w=1080&q=0.8');
background-size: cover;
background-repeat: no-repeat;
height:500px;
width:100%;
}
{% endblock %}
{% block body %}
<div id="image">
    <h1></h1>
</div>
<div>
    <h3>Get in Touch</h3>
    <p>Contact Number:+91 484 2660000,+91 9946001005</p>
    Emails to:<a href="">enquiry@abchospital.in,patientrelations@sunrisehospital.in</a>

    <h3>Address</h3>
    <p> ABC Hospital, Seaport – Airport Road, Kakkanad, Kochi 682 030, Kerala, India</p>
</div>
{% endblock %}