{% extends 'base2.html' %}
{% block title %}{% endblock %}
{% load static %}
{% block style %}
maindiv1{border:2px solid black;
margin-left:1px;
width:300px;
height:670px;
background-color:rgb(34, 139, 34);
}
.div1{border:2px green;
margin-left:0.5px;
width:300px;
height:670px;
background-color: green
}
img{
border-radius: 50%;
width:100px;
margin-left:70px;
margin-top:20px;
}
.icon{padding-left:5px;
}
a{color:white;
text-decoration:none;
}
.card{
margin-top:100px;
width:300px;
height:150px;
}
#div4{
border-radius:50%;
background-color:white;
padding:10px;
color:green;
float:right;
}
#div6{border-radius:50%;
background-color:white;
padding:10px;
color:green;
float:right;
}
{% endblock %}
{% block body%}
{% if doc_log %}
<div style="text-align:center;">
    {% for i in data %}
    <h3 style="margin-left:80px;color:black;">Hello {{i.firstname}}</h3><br>
    {% endfor %}
    <p>your Account is not  approved till now</p><br><br>
    <p>Our team is checking your profile</p><br><br><br>
    <p>Soon your Account will be Confined.... </p><br><br><br>
    <p>Check Later</p><br><br>
    <a href="default.asp"><button type="button" class="btn-primary">Log Out for Now</button> </a>
</div>
{% endif %}
{% if doc_log_on %}
<div class="row">
    <div class="col-sm-3">
        <div class="maindiv">
            <div class="div1">
                <img src="{% static 'images/admin.jpg' %}" alt="My image"><br><br>
                <h6 style="margin-left:100px;color:white;">Doctor</h6><br>
                {% for i in data %}
                <h3 style="margin-left:80px;color:white;">{{i.firstname}}</h3>
                {% endfor %}
            </div>
            <div class="icon">
                <a href="{% url 'doctor_dash1' %}">
                    <h6><i class="fa fa-dashboard" style="font-size:24px;color:white;"></i>Dashboard</h6>
                </a><br>
                <div class="icon">
                    <a href="{% url 'patient_dash1' %}">
                        <h6><i class="material-icons" style="font-size:24px">&#xe7f0;</i>Appoinments</h6>
                    </a><br>

                </div>
            </div>
        </div>
        {% if doctor_dash1 %}
        <div class="col-sm-8">
            <div>
                <div class="col">
                    <div style="background-color:MediumSeaGreen; " class="card">
                        <div class="card-body">
                            1
                            <p><i id="div4" class="fa fa-check" style="font-size:24px;color:green;"></i></p>
                            <h5 class="card-title">Your patient discharged</h5>
                            <p class="card-text">Approval required:1</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div style="background-color:orange;" class="card">
                        <div class="card-body">
                            1
                            <p><i id="div5" style="font-size:48px;" class="fa">&#xf007;</i></p>
                            <h5 class="card-title">Patient Under You</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div style="background-color:blue;" class="card">
                        <div class="card-body">
                            1
                            <p><i id="div6" class="fa fa-calender" style="font-size:48px"></i></p>
                            <h5 class="card-title">Appointment for you</h5>
                            <p class="card-text">Approve Appointments: 0</p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endif %}
    {% if patient_dash1 %}
    <div class="col-sm-8"></div>
    <div>
        <div class="row">
            <div class="col">
                <div style="background-color:BlueViolet;" class="card">
                    <div class="card-body">
                        <h4 class="card-title">Your Patient Record</h4>
                        <p><i id="div7" class="fa fa-user-md" style="font-size:48px"></i></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div style="background-color:Aquamarine;" class="card">
                    <div class="card-body">
                        <h4 class="card-title">Your Discharged patient</h4>
                        <p><i id="div8" class="fa fa-user-md" style="font-size=48px;"></i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endif %}
</div>
{% endif %}
{% endblock %}


