{% extends 'base2.html' %}
{% block title %}{% endblock %}
{% block style %}
 body {
      color: #aa082e;
      background-color: #b6bde7;
      font-family: 'Roboto', sans-serif;
    }

    a:link {
      text-decoration: none;
    }

    .note {
      text-align: center;
      height: 80px;
      background: -webkit-linear-gradient(left, #0072ff, #8811c5);
      color: #fff;
      font-weight: bold;
      line-height: 80px;
    }

    .form-content {
      padding: 5%;
      border: 1px solid #ced4da;
      margin-bottom: 2%;
    }

    .form-control {
      border-radius: 1.5rem;
    }

    .btnSubmit {
      border: none;
      border-radius: 1.5rem;
      padding: 1%;
      width: 20%;
      cursor: pointer;
      background: #0062cc;
      color: #fff;
    }
{% endblock %}
{% block body %}
<br><br><br><br>
<form method="post">
    {% csrf_token %}
    <div class="container register-form">
      <div class="form">
        <div class="note">
          <p>Doctor Login Page</p>
        </div>

        <div class="form-content">
          <div class="row">
            <div class="col-md-6">

              <div class="form-group">
                <input  class="form-control" type="text" name="uname" placeholder="Username">
              </div>

            </div>
            <div class="col-md-6">

              <div class="form-group">
                <input  class="form-control" type="text" name="pwd" placeholder="Password">
              </div>

            </div>
          </div>
          <button type="submit" class="btnSubmit">Login</button>
          <div class="text-center">Do not have account? <a href="doctorsignup">Signup here</a></div>
        </div>
      </div>
    </div>

  </form>
{% endblock %}
